.btn-primary {
    background-color: var(--background-color);
    border: 1px solid var(--main-color);
    color: var(--text-color);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-primary:focus {
    outline: none;
}

.btn-primary:hover {
    background-color: var(--main-color);
    color: var(--background-color);
}

.btn-primary a {
    text-decoration: none;
}

.btn-modal {
    background-color: var(--text-color);
    border: 1px solid var(--background-color);
    color: var(--background-color);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-modal:focus {
    outline: none;
}

.btn-modal:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn-modal a {
    text-decoration: none;
}
