.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.link-container {
    display: flex;
    justify-content: center;
}

.main-text {
    margin-bottom: 50px;
}

.heading-container {
    margin-top: 50px;
    margin-bottom: 25px;
    width: 80%;
    margin-left: 7%;
    margin-right: auto;
    border-bottom: 1px solid var(--text-color);
}

.button-flex {
    display: flex;
    flex: 0 0 25%;
    background-color: var(--background-color);
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    justify-content: center;
}

.button-flex a {
    padding: 5px;
    text-decoration: none;
}
